# Aliases in this file are bash and zsh compatible

# Get operating system
platform="unknown"
unamestr=$(uname)
if [[ $unamestr == "Linux" ]]; then
  platform="linux"
elif [[ $unamestr == "Darwin" ]]; then
  platform="darwin"
fi

# Always use vim
alias vi="vim"

# PS
alias psa="ps aux"
alias psg="ps aux | grep "

# Moving around
alias cdb="cd -"
alias cls="clear;ls"

# Show human friendly numbers and colors
alias df="df -h"
alias du="du -h -d 2"

if [[ $platform == "linux" ]]; then
  alias ll="ls -alh --color=auto"
  alias ls="ls --color=auto"
elif [[ $platform == "darwin" ]]; then
  alias ll="ls -alGh"
  alias ls="ls -Gh"
fi

# show me files matching "ls grep"
alias lsg="ll | grep"

# mimic vim functions
alias :q="exit"

# Git Aliases
alias gs="git status"
alias gstsh="git stash"
alias gst="git stash"
alias gsp="git stash pop"
alias gsa="git stash apply"
alias gsh="git show"
alias gshw="git show"
alias gshow="git show"
alias gi="vim .gitignore"
alias gcm="git ci -m"
alias gcim="git ci -m"
alias gci="git ci"
alias gco="git co"
alias gcp="git cp"
alias ga="git add -A"
alias guns="git unstage"
alias gunc="git uncommit"
alias gm="git merge"
alias gms="git merge --squash"
alias gam="git amend --reset-author"
alias grv="git remote -v"
alias grr="git remote rm"
alias grad="git remote add"
alias gr="git rebase"
alias gra="git rebase --abort"
alias ggrc="git rebase --continue"
alias gbi="git rebase --interactive"
alias gl="git l"
alias glg="git l"
alias glog="git l"
alias co="git co"
alias gf="git fetch"
alias gfch="git fetch"
alias gd="git diff"
alias gb="git br"
alias gbd="git br -D -w"
# Staged and cached are the same thing
alias gdc="git diff --cached -w"
alias gds="git diff --staged -w"
alias gpub="grb publish"
alias gtr="grb track"
alias gpl="git pull"
alias gplr="git pull --rebase"
alias gps="git push"
alias gpsh="git push --set-upstream origin $(git symbolic-ref --short HEAD)"
alias gnb="git nb" # new branch aka checkout -b
alias ggo="git go" # go to branch creating it if needed
alias grs="git reset"
alias grsh="git reset --hard"
alias gcln="git clean"
alias gclndf="git clean -df"
alias gclndfx="git clean -dfx"
alias gsm="git submodule"
alias gsmi="git submodule init"
alias gsmu="git submodule update"
alias gbg="git bisect good"
alias gbb="git bisect bad"

# Common shell functions
alias less="less -r"
alias tf="tail -f"
alias l="less"
alias lh="ls -alt | head" # see the last modified files
alias screen="TERM=screen screen"
alias cl="clear"

# Zippin
alias gz="tar -zcvf"

alias ka9="killall -9"
alias k9="kill -9"

# Forward port 80 to 3000
alias portforward="sudo ipfw add 1000 forward 127.0.0.1,3000 ip from any to any 80 in"

# Finder
alias showFiles="defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app"
alias hideFiles="defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app"

# Homebrew
alias brewu="brew update && brew upgrade && brew cleanup && brew cleanup --prune-prefix && brew doctor"

# Copy public key to clipboard:
alias pubkey="cat ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# SF
alias soql="sfdx force:data:soql:query -u movinga -q"
